html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #613b2e;
  font-size: normal;
}

header {
  background: #577731;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

article {
  background: darkgrey;
}

footer {
  background: lightblue;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 40px;
}

nav {
  border: 5px solid black;
  background-color: lightgreen;
}

ul {
  font-style: oblique;
}

a {
  text-decoration: none;
  font-family: sans-serif;
}

li a {
  color: black;
}

img.hobby {
  border: 10px soild;
  border-color: black width: 170px;
  height: 150px;
}

img.logo {
  border: 5px solid;
  border-color: lightblue;
  width: 200px;
  height: 150px;
  border-radius: 25%;
}

div.home {
  display: flex;
  flex-direction: row;
}

a:hover {
  text-decoration: none;
  color: orange;
  border-bottom: 2px solid black;
}

.menu {
  margin-top: 15px;
}

.menu>li {
  display: inline;
  margin-right: 50px;
}

.dropdown:hover .features-menu {
  display: flex;
  flex-direction: column;
  background: green;
  border-radius: 5px;
  padding-top: 60px;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  top: -25px;
  left: 10px;
}

.features-menu li {
  list-style: none;
  border-bottom: 1px solid black;
  z-index: 1;
  padding: 1px 1px 1px 1px;
  margin: 10px;
}

.dropdown {
  position: relative;
}

.dropdown>span {
  z-index: 2;
  position: relative;
  cursor: default;
}

.features-menu {
  display: none;
}

.features-menu li a:hover {
  border-bottom: none;
  border-left: 2px solid black;
}

nav li {
  padding-left: 50px;
  padding-right: 50px;
