h1,p {
   background:black;
   font:bold;
   margin: auto;
   border:2px;
   border-color: linen;
}

ul {
  background:black;
  font-style: oblique;
  margin: auto;
  border-color:darkgreen;
}

h2 {
  background:grey;
  font:bold;
  border:2px;
  border-color: grey;

}

h3 {
  background:black;
  border:3px;
  border-color: purple;
}

h4 {
background:grey;
border-color: darkolivegreen;
border:linen;
}
